@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span,
  p,
  code {
    font-family: revert;
    font-size: revert;
    font-weight: revert;
    text-wrap: revert;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Theming Base */
  --t-purple: #35357a;
  --t-light-blue: #bccfd6;
  --t-light-blue-3: #7087b5;
  --t-light-orange: #f28943;

}
