@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Theming Base */
  --t-purple: #35357a;
  --t-light-blue: #bccfd6;
  --t-light-blue-3: #7087b5;
  --t-light-orange: #f28943;

}
